@wpg:registry=http://10.10.102.247/repository/wpg-npm-public/
@form:registry=http://10.10.102.247/repository/wpg-npm-public/
always-auth=true
registry=https://registry.npmmirror.com/
//10.10.102.247/repository/wpg-npm-public/:_auth="d3BnLWd1ZXN0OndwZ0BndWVzdA=="
